# Configuration file

general {
    # Whether to notify when a new version is available. [default: true]
    # Note: If multiplayer, does not have to match client-side and server-side.
    B:versionNotify=true

    # Specify the items that can getting mining point. (Or Automatically decide if not specified)
    # Note: If multiplayer, server-side only.
    S:miningPointItems <
     >

    # Specify the mining point for each block.
    # Note: If multiplayer, server-side only.
    S:miningPoints <
        glowstone,2
        oreAquamarine,2
        oreCoal,1
        oreDiamond,5
        oreEmerald,3
        oreGold,1
        oreHexcite,4
        oreIron,1
        oreLapis,3
        oreMagnite,1
        oreQuartz,2
        oreRandomite,2
        oreRedstone,2
        oreSulfur,1
        minecraft:lit_redstone_ore,2
	oreProsperity,1
     >

    # Whether to enable the mining combo.
    # Note: If multiplayer, does not have to match client-side and server-side.
    B:miningCombo=true

    # Whether to enable the critical mining.
    # Note: If multiplayer, server-side only.
    B:criticalMining=true

    # Specify the caveborn type. Transfer to the cave dimension when join to world for the first time. [range: 0 ~ 3, default: 0]
    # 0: Disabled,
    # 1: Cavern,
    # 2: Huge Cavern,
    # 3: Aqua Cavern
    # Note: If multiplayer, server-side only.
    I:caveborn=0

    # Specify the bonus items for caveborn.
    # Note: If multiplayer, server-side only.
    S:cavebornBonusItems <
        minecraft:bread
        minecraft:stone_pickaxe
        minecraft:stone_sword
        minecraft:torch
     >

    # Whether to enable cache for cave portal teleport. [default: false]
    # Note: If multiplayer, server-side only.
    B:portalCache=false

    # Whether to enable open the menu on cave portals. [default: true]
    # Note: If multiplayer, server-side only.
    B:portalMenu=true

    # Whether to enable generous randomite drops. [default: false]
    # Note: If multiplayer, server-side only.
    B:generousRandomite=false

    # Specify the exclude randomite ore drop items.
    # Note: If multiplayer, server-side only.
    S:randomiteExcludeItems <
        minecraft:bedrock
        minecraft:mob_spawner
     >

    # Specify the sleep waiting time by seconds in the cave dimensions. [default: 300]
    # Note: If multiplayer, server-side only.
    I:sleepWaitTime=300

    # Whether to refresh health when wake up in the cave dimensions. [default: true]
    # Note: If multiplayer, server-side only.
    B:sleepRefresh=true
}


